name = "SkeelBerzins"
uuid = "15eb0f9a-d441-4223-9ae5-4829ae804a45"
authors = ["gregoirepourtier <gpourtier@icloud.com>"]
version = "0.1.1"

[deps]
ArrayInterfaceBandedMatrices = "2e50d22c-5be1-4042-81b1-c572ed69783d"
BandedMatrices = "aae01518-5342-5314-be14-df237901396f"
DifferentialEquations = "0c46a032-eb83-5123-abaf-570d42b7fbaa"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
ExtendableSparse = "95c220a8-a1cf-11e9-0c77-dbfce5f500b3"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LinearSolve = "7ed4a6bd-45f5-4d41-b270-4a48e9bafcae"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
RecursiveArrayTools = "731186ca-8d62-57ce-b412-fbd966d074cd"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
SparseDiffTools = "47a9eef4-7e08-11e9-0b38-333d64bd3804"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
ArrayInterfaceBandedMatrices = "0.1"
BandedMatrices = "0.17"
DifferentialEquations = "7.6"
DocStringExtensions = "0.9"
ExtendableSparse = "0.9"
LinearSolve = "1.33"
Parameters = "0.12"
RecursiveArrayTools = "2.3"
Reexport = "1"
SparseDiffTools = "1.30"
StaticArrays = "1.5"
julia = "1.6"
